<div class="page-header">
  <h2>Periodos de facturación</h2>
</div>

<div id="tabla-periodos" class="table-responsive">
  <nav>
    <ul class="pagination pagination-sm">
      <li>
        <a href="#" aria-label="Previous" v-on:click="obtainPreviousGroupOfAnios(anios)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li v-for="anio in anios">
        <a href="#" v-on:click="obtainPeriodosByAnio(anio.periano)">{{ anio.periano }}</a>
      </li>
      <li>
        <a href="#" aria-label="Next" v-on:click="obtainNextGroupOfAnios(anios)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <table class="table table-hover">
    <tr>
      <th>Periodo</th>
      <th>Año</th>
      <th>Mes</th>
      <th>Desde</th>
      <th>Hasta</th>
    </tr>
    <tr v-for="periodo in periodos" onclick="alert('Hi!')">
      <td>{{ periodo.pericodi }}</td>
      <td>{{ periodo.periano }}</td>
      <td>{{ periodo.perimes }}</td>
      <td>{{ periodo.perifein | localeDateString }}</td>
      <td>{{ periodo.perifefi | localeDateString }}</td>
    </tr>
  </table>
</div>

<script type="text/javascript" src="src/app/periodo/periodo.js"></script>